extends layout

block content
  div(class="container")
    div(class="row")
        h2 添加文章
        div
            div(class="input-group")
                input(type="text",class="form-control")
        
