extends layout

block content
    div(class="hero-unit")
        h2 春暖花开，面向大海
        p 从明天起，做一个幸福的人
        p 喂马，劈柴，周游世界
        p 从明天起，关心粮食和蔬菜
        p 我有一所房子，
        p 面向大海，春暖花开
        p: a(href="/article/list" class="btn btn-primary btn-large") 浏览文章
            
