doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css')
    script(src='http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js')
    script(src='http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js')
  body
  div(class="container")
    div(class="row")
        div(class="navbar-inner")
            a(class="brand" href="#") #{title}
            ul(class="nav")
                li(class="active")
                    a(href="/") 首页
                li(class="active")
                    a(href="./add") 添加文章
    block content
